@using EasyNetQ;
@using System.Web;
@using Users_Service.Models;
@model Users_Service.Models.LoginRequest;

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Log in</button>
}

<script>
    @if (ViewBag.ErrorMessage != null)
    {
        <text>
            alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.ErrorMessage.ToString()))');
        </text>
    }
</script>